:root {
  --main-font: "Rubik", sans-serif;
  --special-font: "Raleway", sans-serif;

  --white: #ffffff;
  --black: #000000;

  --main-color: #ffe17f;

  --main-font-color: #444444;
  --title-font-color: #000000;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;

  font-family: var(--main-font);
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--main-font-color);

  background-color: var(--white);
}

.page {
  height: 100%;
}

.page-body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
}

/********************************************************************************************************

                                            HEADER STYLES

********************************************************************************************************/

.page-header {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  color: var(--title-font-color);

  background-color: var(--main-color);
}

.page-header-search {
  margin-right: auto;
  padding-bottom: 45px;
}

.search {
  display: flex;
}

.search-input {
  display: block;
  width: 360px;
  font-size: 16px;
  line-height: 20px;

  background-color: transparent;
  border: 2px solid var(--black);
}

.search-input::placeholder {
  color: var(--title-font-color);
  opacity: 1;
}

.search-button {
  display: block;
  width: 160px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: var(--special-font);
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  color: var(--title-font-color);

  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 2px solid var(--black);
}

.page-header-top {
  display: flex;
}

.user-nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.user-nav-item:not(:last-child) {
  margin-right: 20px;
}

.user-nav-item:first-child {
  margin-right: auto;
}

.user-nav-link {
  display: block;
  text-decoration: none;
  color: var(--title-font-color);
}

.user-nav-item-logout .user-nav-link {
  opacity: 0.3;
}

/* .user-nav-item .user-nav-link::before {
  display: inline-block;

  content: "";
  background-position: center;
  background-repeat: no-repeat;
} */

.main-nav-list {
  display: flex;
  width: 1040px;
  margin: 0;
  padding: 0;

  flex-wrap: wrap;
  list-style-type: none;
}

.main-nav-item:not(:last-child) {
  margin-right: 44px;
}

.main-nav-item:last-child {
  margin-left: 50px;
  margin-right: auto;
}

.main-nav-link {
  font-family: var(--special-font);
  line-height: 21px;
  font-weight: 800;
  color: var(--title-font-color);

  text-transform: uppercase;
  text-decoration: none;
}

.catalog-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-nav-link {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  color: var(--title-font-color);
}

/********************************************************************************************************

                                        MAIN STYLES

********************************************************************************************************/

.page-main {
  flex-grow: 1;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: flex;
  justify-content: space-between;
}

.slider-image-wrapper {
  width: 560px;
  min-height: 560px;
}

.slider-image {
  display: block;
}

.slider-text-wrapper {
  width: 560px;
}

.slider-title {
  font-family: var(--special-font);
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: var(--title-font-color);
}

.details {
  display: flex;
}

.details dd {
  font-size: 36px;
  color: var(--title-font-color);
}

.details dt {
  line-height: 30px;
}

.button {
  font-family: var(--special-font);
  line-height: 21px;
  font-weight: 800;
  color: var(--title-font-color);
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  background: none;
}

/* .button-stripe::before {
  content: "";
  display: block;
  height: 8px;

  background-color: var(--main-color);
} */

.bullets {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.categories-item {
  width: 160px;
}

.categories-list a {
  display: block;

  font-family: var(--special-font);
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  color: var(--title-font-color);
}

.services {
  margin-bottom: 70px;
  background-color: #f0f0f0;
}

.service-content {
  display: flex;
  justify-content: space-between;
}

.services-nav-list {
  width: 290px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.service-list {
  width: 760px;
}

.service-item {
  display: none;
}

.service-item-active {
  display: block;
}

.service-item h3 {
  font-family: var(--special-font);
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;

  color: var(--title-font-color);
}

.delivery {
  display: block;
  min-height: 100px;

  font-family: var(--special-font);
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--title-font-color);

  background-color: #f0f0f0;
}

.info-button {

}

.information-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.about {
  width: 530px;
}

.about-title {
  font-family: var(--special-font);
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: var(--title-font-color);
}

.about-list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  line-height: 20px;
  color: var(--title-font-color);

  list-style-type: none;
}

.about-list li:not(:last-child) {
  margin-bottom: 19px;
}

.contacts {
  width: 530px;
}

.contacts-title {
  font-family:var(--special-font);
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: var(--title-font-color);
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
  color: var(--black);
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: var(--main-font-color);
}

.contacts-shedule {
  padding: 0;

  list-style-type: none;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-row {
  display: flex;
  justify-content: space-between;
}

.subscribe-title {
  width: 348px;

  font-family: var(--special-font);
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: var(--title-font-color);
}

.subscribe-text {
  width: 560px;
}

.subscribe-input {
  padding-left: 16px;

  width: 557px;
  height: 56px;

  border: none;
  border-bottom: 3px solid #c4c4c4;
}

.subscribe-input::placeholder {
  opacity: 0.5;
}

.subscribe-button {
  width: 253px;
  padding: 18px 39px;
  margin: 0;

  border: 3px solid #cecece;
  letter-spacing: 0.2em;
}

.subscribe-its-free {
  width: 160px;
}

/* .subscribe-its-free::before {
  margin-right: 16px;

  display: inline-block;
  width: 14px;
  height: 14px;

  content: "";
  background-image: url("../images/icons/green-check-icon.svg");
} */

/********************************************************************************************************

                                        CATALOG MAIN STYLES

********************************************************************************************************/

.main-catalog {
  flex-grow: 1;
}

.inner-header-title {
  font-family: var(--special-font);
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: var(--title-font-color);
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: var(--title-font-color);
}

.catalog {
  flex-grow: 1;
  background-color: #f0f0f0;
}

.catalog-container {
  display: flex;
  justify-content: center;
}

.catalog-title {
  font-family: var(--special-font);
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--title-font-color);
}

.filters {
  width: 320px;
}

.filters-group {
  width: 200px;
}

.filters-group legend {
  font-weight: 700;
  line-height: 20px;
  color: var(--title-font-color);
}

.filters-title {
  font-family: var(--special-font);
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--title-font-color);
}

.price-limit {
  font-size: 15px;
  line-height: 18px;
  text-transform: lowercase;
  color: rgba(0, 0, 0, 0.3);
}

.filters-list {
  padding: 0;
  list-style-type: none;
}

.filters-item {
  font-size: 16px;
  line-height: 19px;
}

.catalog-right-column {
  display: flex;
  flex-direction: column;
  width: 840px;
}

.filters-sorting .button {
  display: inline-block;
  width: 11px;
  height: 10px;

  background-image: url("../images/icons/sort-order-triangle.svg");
  background-repeat: no-repeat;
}

.filters-sorting .button:nth-of-type(2) {
  transform: rotate(180deg);
}

.product-list {
  display: grid;
  grid-template-areas: "product-card product-card"
                       "product-card product-card";
  gap: 40px;
  padding-top: 70px;
  padding-right: 40px;
  padding-left: 40px;

  background-color: var(--white);
}

.product-card-title a {
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: var(--title-font-color);
}

.product-card-price {
  line-height: 21px;
}

.pagination {
  background-color: var(--white);
}

.pagination-show-more {
  width: 760px;
  height: 55px;
  margin: 44px 40px;

  font-family: var(--special-font);
  font-size: 16px;
  line-height: 19px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--title-font-color);

  background-color: var(--white);
  border: 3px solid #e5e5e5;
}

.pagination-list {
  display: flex;
  width: 760px;
  height: 71px;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 78px;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;

  background-color: #ebebeb;
}

.page-num-list {
  list-style-type: none;
}

.page-num-list .pagination-page-num {
  display: inline;
}

.pagination-page-num .pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-font-color);

  opacity: 0.3;
}

/********************************************************************************************************

                                            FOOTER STYLES

********************************************************************************************************/

.page-footer {
  color: var(--white);

  background-color: #444444;
}

.page-footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.page-footer-left {
  width: 234px;
  margin-top: 62px;
  margin-bottom: 77px;
}

.page-footer-logo img {
  margin-bottom: 35px;
}

.page-footer a {
  color: var(--white);

  text-decoration: none;
}

.page-footer-nav {
  margin: 0;
  padding: 0;
  width: 480px;
  margin-top: 137px;
  flex-grow: 1;
}

.page-footer-list {
  list-style-type: none;
  margin: 0 auto;
}

.page-footer-list li {
  display: inline-block;
}

.page-footer-list a {
  font-family: var(--special-font);
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.page-footer-list li:not(:last-child) {
  padding-right: 35px;
}

.page-footer-address {
  width: 234px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

/* .page-footer-address::after {
  display: block;
  width: 80px;
  height: 7px;

  content: "";
  background-color: #ffc500;
} */

.social {
  margin: 62px 154px;
}

.social-list {
  margin: 0;
  padding: 0 0;
  list-style-type: none;
}

.social-item {
  display: inline-block;
}

.social-item:not(:last-child) {
  margin-right: 15px;
}

.social-item::before {
  display: block;
  width: 40px;
  height: 40px;

  content: "";
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.social-item-facebook::before {
  background-image: url("../images/icons/facebook.svg");
}

.social-item-instagram::before {
  background-image: url("../images/icons/instagram.svg");
}

.social-item-twitter::before {
  background-image: url("../images/icons/twitter.svg");
}

.page-footer-right {
  width: 175px;
}

.page-footer-right a {
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
}

.page-footer-phone {
  display: block;
  margin-top: 140px;
  margin-bottom: 63px;
}

.page-footer-htmlacademy-logo {
  display: block;
  margin-bottom: 65px;
}
